.wrapperPage {
   margin: 3rem 4rem;
}

.wrapper {
   margin: 2rem 0;
}

.heading {
   display: flex;
   justify-content: space-between;
}

.table {
   width: 100%;
}

.table,
th,
td {
   border: 1px solid black;
}

th.profilePic {
   width: 1rem;
}

th.name,
th.email,
th.vehicle,
th.location,
th.actions {
   width: 4rem;
}
