.wrapper {
   margin-top: 3rem;
   padding: 3rem 0;
   background-color: transparent;
}

.brand {
   background: url(./images/footer-brand.png) center no-repeat;
   display: inline-block;
   background-size: 12rem;
   height: 6.5rem;
   width: 16rem;
}

.brandContainer {
   display: flex;
   align-items: center;
   padding-left: 6rem;
}

.contacts {
   display: flex;
   justify-content: flex-end;
   padding-right: 3rem;
   font-family: "Indie Flower", cursive;
   color: black;
}

.telNum {
   font-size: 1.3rem;
   color: black;
}
