.wrapper {
   margin-top: 3rem;
   padding: 3rem 0;
   background-color: transparent;
}

.flexWrapper{
   display: flex;
   justify-content: space-between;
}

.brand {
   background: url(./images/footer-brand.png) left no-repeat;
   display: inline-block;
   background-size: 11.5rem;
   height: 6rem;
   width: 16rem;
}

.brandContainer {
   display: flex;
   align-items: center;
}

.contacts {
   display: flex;
   justify-content: flex-end;
   padding-right: 1rem;
   font-family: "Indie Flower", cursive;
   color: black;
}

.telNum {
   font-size: 1.3rem;
   color: black;
}

@media screen and (max-width: 1024px) {
.contacts{
   justify-content: flex-start;
   margin-top: 1.5rem;
}
}