.wrapper {
   margin: 3rem 0;
}

.article {
   display: flex;
   justify-content: center;
}

.button{
   width: 50%;
   margin-bottom: 2rem;
}
.articleWrapper{
   justify-content: space-between;
}
.addBtn {
   margin-bottom: 5rem;
   font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .button{
      width: 100%;
    }
    .articleWrapper{
      justify-content: center;
    }
   }