.wrapper {
   padding: 0.5rem 0 0 0 !important;
   background-color: #ffffff;
}

.logo {
   display: inline-block;
   background: url(./images/brand-logo.png) center no-repeat;
   background-size: 8rem;
   height: 3rem;
   width: 8rem;
}

.item {
   margin: 0 0.25rem;
   padding: 1rem !important;
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: 700;
}

.item:hover,
.item:focus,
.item:active {
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   background-color: #f5f9ff;
}

.toggle {
   background: url(./images/circle-user-regular.svg) center no-repeat;
   background-size: 1.5rem;
   height: 1.5rem;
   width: 1.5rem;
   border: none;
}

.toggle::after {
   content: none;
}

.toggle:hover,
.toggle:focus,
.toggle:focus-visible {
   scale: 1.2;
}
