.label{
    display: flex;
    align-items: baseline;
    font-weight: bold;
    font-style: italic;
    margin-bottom: .2rem;
}
.value{
    font-size: 1.2rem;
    display: inline;
    color: red;
    margin-left: .3rem;
    margin-right: .3rem;
    margin-bottom:0!important;
}