.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  overflow: hidden;
}
.heading{
  font-size: 4rem;
  font-weight: 700;
  color: red;
}
.subheading{
  font-size: 2rem;
}

