div.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
 }
 
 .wrapper {
    max-width: 47.5rem;
    margin-top: 4rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
 }
 
 #create label,
 #create input,
 #create select {
    display: block;
    text-transform: capitalize;
 }
 
 h3 {
    font-family: "Indie Flower", cursive;
    font-size: 2rem;
 }
 
 #create label {
    font-style: italic;
 }
 
 #create input {
    width: 20rem;
    margin-bottom: 1rem;
    padding: 5px;
 }
 
 #create select {
    width: 20rem;
    margin-bottom: 1rem;
    padding: 6.5px;
 }
 
 #create textarea {
    width: 100%;
 }
 