.wrapper {
   padding: 0.5rem 0 0 0 !important;
   background-color: #ffffff;
   margin: 0 3rem;
}

.logo {
   display: inline-block;
   background: url(./images/brand-logo.png) center no-repeat;
   background-size: 10rem;
   height: 6rem;
   width: 10rem;
}

.item {
   margin: 0 0.25rem;
   padding: 1rem !important;
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: 700;
}

.item:hover,
.item:focus,
.item:active {
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   background-color: #f5f9ff;
}

.toggle {
   background: url(./images/circle-user-regular.svg) center no-repeat;
   background-size: 1.5rem;
   height: 1.5rem;
   width: 1.5rem;
   border: none;
}

.toggle::after {
   content: none;
}

.toggle:hover,
.toggle:focus,
.toggle:active {
   scale: 1.2;
   background-color: inherit;
}
